[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "bundle/mru.vim"]
	path = bundle/mru.vim
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "bundle/syntastic.vim"]
	path = bundle/syntastic.vim
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "bundle/vim-fugitive.vim"]
	path = bundle/vim-fugitive.vim
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-gitgutter.vim"]
	path = bundle/vim-gitgutter.vim
	url = https://github.com/airblade/vim-gitgutter.git
